:root{
    --dark:#1d1c1c;
    --notsodark:#363535;
    --light:#fff;
    --notsolight:#afafaf;
}

html {
    scroll-behavior: smooth;
}

body{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--notsodark);
    margin: 0;
    color: var(--light);

}

header{
    width: 100%;
    background-color: rgba(29, 28, 28, 0.95);
    margin: 0;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 50;
}

h1{
    font-weight: bold;
    font-size: 4em;
    margin: 0;
    padding: 24px 72px;

}

h1:hover{
    cursor: pointer;
}

nav{
    justify-self:right;
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style: none;
}

nav ul li{
    display: inline-block;
    font-size: 2em;
}

nav ul li button{
    padding: 24px 48px;
}

a{
    color: var(--notsolight);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: var(--light);
    font-size: 1.05em;
    transition-duration: 400ms;
}

nav button{
    color: var(--notsolight);
    text-decoration: none;
    background: none;
	color: inherit;
	border: none;
	cursor: pointer;
}

button:hover{
    text-decoration: underline;
    color: var(--light);
    font-size: 1.05em;
    transition-duration: 400ms;
}

.vacio{
    width: 100%;
    height: 100px;
    display: block;
    position:relative;
}

#AboutMe{
    top: 100px;
    display: flex;
    justify-content: center;
    flex:1;
}

.Info{
    width: 50%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 600px;
}

.Info ul, .Info h2{
    padding: 0px 0px;
    margin: 5px 50px;
    text-align: right;
    font-size: 3em;
}

.Info h2{
    font-size: 3em;
}

.Info ul{
    font-size: 2em;
}



.Info ul li{
    list-style: none;
}

.Avatar{
    width: 50%;
    margin: 0;
    height: max-content;
    overflow: auto;

}

.Avatar img{
    position: absolute;
    transform: scale(0.75);
}

#Photo1{

}

#Photo2{
    left: 950px;
    top: 250px;
}

#Projects h2{
    margin: 100px 0px 25px 0px;
    text-align: center;
    font-size: 4em;
}

.Cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.Proyect-Title{
    text-align: center;
    font-size: 2em;
}

.Project-card p,
.Project-card ul {
    font-size: 1.5em; 
}

.Project-card p{
    font-weight: bold;
}

.Project-card ul{
    list-style: none;
    padding-left: 0px;
}


footer{
    background-color: var(--dark);
    margin: 0;
    padding-bottom: 0;
}

footer h3{
    margin: 50px 0px 25px 0px;
    text-align: center;
    font-size: 2em;
    padding-top: 50px;
    }

footer ul{
    display: flex;
    list-style: none;
    justify-content: center;
    position: relative;
    left: -30px;
    padding-bottom: 25px;
    margin: 0px;
}

footer ul li{
    margin: 0px 150px;
    color: var(--light);
}
